PORT=4000
FRONTEND_VERIFY_BASE=http://localhost:5173/verify

# Sepolia chain config
RPC_URL=https://sepolia.infura.io/v3/PASTE_YOUR_PROJECT_KEY
WALLET_PRIVATE_KEY=0xPASTE_YOUR_METAMASK_PRIVATE_KEY
CONTRACT_ADDRESS=0xPASTE_DEPLOYED_CONTRACT_ADDRESS
CONTRACT_ABI_FILE=../blockchain/artifacts/contracts/PharmaTrace.sol/PharmaTrace.json

# Firebase config
FIREBASE_PROJECT_ID=txngdp-81566
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@txngdp-81566.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPASTE_YOUR_FIREBASE_PRIVATE_KEY_WITH_NEWLINES_ESCAPED\n-----END PRIVATE KEY-----\n"
